.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &.gap {
    grid-gap: 5px;
  }

  .grid__cell {
    width: 100%;
    height: auto;

    &.center-cell-content {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .grid__cell--label {
      font-weight: bold;
      padding: 20px;
      position: absolute;
      color: white;
      z-index: 1;
      background-color: rgba(100, 100, 100, 0.5);

      &.left-align-label {
        align-self: left;
        justify-self: flex-start;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .grid {
    &.col-4,
    &.col-3,
    &.col-2 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    &.col-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.col-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
