:root {
  --white: #fff;
  --black: #000;
  --blueriver: #003e85;
  --lightgray: #ccc;
  --critical: #e53959;
  --error: #ff7f02;
  --warning: #eed202;
  --white: #fff;
  --infomation: #ddd;
  --success: #d2e290;
}
