.login {
  width: 100vw;
  height: 100vh;
  background-color: var(--blueriver);

  .login__card {
    width: 100vw;
    max-width: 500px;
    max-height: 700px;
    margin: auto;
    align-self: center;
    justify-self: center;
    top: 50px;
    display: flex;
    flex-direction: column;

    .login__card--logo {
      justify-self: center;
      align-self: center;
      margin-bottom: 10px;
      flex-basis: 1;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      padding: 20px 0;
      width: 100%;
    }

    .mat-form-field {
      margin: auto;
      flex-basis: 1;
      width: 100%;
    }

    .mat-card-actions {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .login {
    display: flex;

    .login__card {
      top: 0px;
    }
  }
}
