.container__content{
  top: 50px;
  position: absolute;
  width: 100%;    

  .container__content-main{
      padding: 0 20px;
      grid-column: 2;
  }
}


@media screen and (min-width:800px) {
  .container__content{
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-areas: "side-nav main-content";
      grid-auto-flow:dense;
      grid-gap: 0px;
      top: 50px;
      position: absolute;
      width: 100%;
  }
}
